<ul class="list">
  <li :for={item <- @item} class="list-row">
    <div class="list-col-grow">
      <div class="font-bold">{item.title}</div>
      <div>{render_slot(item)}</div>
    </div>
  </li>
</ul>
