<table class="table table-zebra">
  <thead>
    <tr>
      <th :for={col <- @col}>{col[:label]}</th>
      <th :if={@action != []}>
        <span class="sr-only">{gettext("Actions")}</span>
      </th>
    </tr>
  </thead>
  <tbody id={@id} phx-update={is_struct(@rows, Phoenix.LiveView.LiveStream) && "stream"}>
    <tr :for={row <- @rows} id={@row_id && @row_id.(row)}>
      <td
        :for={col <- @col}
        phx-click={@row_click && @row_click.(row)}
        class={@row_click && "hover:cursor-pointer"}
      >
        {render_slot(col, @row_item.(row))}
      </td>
      <td :if={@action != []} class="w-0 font-semibold">
        <div class="flex gap-4">
          <%= for action <- @action do %>
            {render_slot(action, @row_item.(row))}
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
